* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}
body{
    background-color: black;
}
.heading {
    font-family: orbitron, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(52, 125, 189,50);
    margin: 20px;
}
.messages{
    font-family: orbitron, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(160, 21, 21);
}
.messages h1{
    position: fixed;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 15%;
    color: rgb(68, 68, 195);
}
.messages h3{
    position: fixed;
    transform: translate(-50%,-50%);
    top: 35%;
    left: 15%;
    font-size: 25px;
}
#icon{
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 120%;
}
